---
Checks: |
  -*,
  performance-*,
  -performance-avoid-endl,
  clang-analyzer-*,
  -clang-analyzer-valist.Uninitialized,
  clang-diagnostic-*,
  modernize-use-using,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-equals-delete,
  modernize-use-bool-literals,
  modernize-use-equals-default,
  modernize-use-default-member-init,
  readability-non-const-parameter,
  readability-make-member-function-const,
  readability-static-accessed-through-instance,
  -readability-identifier-naming,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -modernize-use-nodiscard,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-throwing-static-initialization,
  -misc-non-private-member-variables-in-classes,
  -misc-use-internal-linkage,
  -readability-use-concise-preprocessor-directives,
  -modernize-use-designated-initializers,

InheritParentConfig: true

...
