*.exe
*.o
*.diff

*.exp
*.ilk
*.pdb
*.lib

*.gch
*.pch

*.swp

.vs
.vscode
.cache
CppProperties.json
compile_commands.json
events.json

garbage/
src/o
test/failed.diff

shit
