*.exe
*.o
*.diff

*.exp
*.ilk
*.pdb
*.lib
*.profraw

*.gch
*.pch
*.swp

.vs
.vscode
.cache
CppProperties.json
compile_commands.json
events.json
perf*

garbage/
src/o
/coverage
zig-out/
.zig-cache/
test/failed.diff
test/.test_history
test/.test_directory_history
test/.test-work/

.DS_Store
._.DS_Store

/shit
/shit-*
/shit.aarch64.elf
/shit.com.dbg

core.*

# Nix
result
result-*
